
.react-datepicker-wrapper .form-control{
    width: 100% !important ;
}
.react-datepicker-wrapper {
    width:100% !important;
}
.react-datepicker-wrapper .form-control{
    width: 100% !important ;
}

.date-control{
    width: 100% !important ;
}
.mobile-form{
    display:none;
}
.save-image{
    display: block !important;
    margin: 2% auto;
    padding: 0.2% 5%;
}
.add-btn-container{
    position: relative;
}
.row>div>.add-skill{
    position: absolute;
    bottom: 0;
    padding: 0.25rem 0.7rem;

}

@media screen and (max-width:600px){
    .desktop-form{
        display:block;
    }
    .mobile-form{
        display: block;
    }
}