ul{
    list-style-type: none;
}
.col-sm-6 .page-title-box{
    padding: 3px 0;
}
.m-sub-title{
    padding: 10px 0px;
    font-weight: 600 !important;
}
.price-cont{
    border-bottom: 1px solid #ddd; 
    padding-bottom: 2%;
}
.invoice-brd{
    border-bottom:0.5px solid #00000047;
}
.price-card{
    box-shadow: 6px 3px 12px 0px rgba(216, 216, 216, 0.74) !important;
    
}
.card-easing{
    transition:all 1s ease-out;
    font-size:.9em;
}
.fold-modules{
    transition:all 1s ease-in-out;
    overflow: hidden;   
}
.package-features{
    margin-bottom: 0.3em;
}
.expand-features{
    cursor: pointer; 
    color:  #1a0bfbad;
    font-weight: 400 ;
}
.bottom-space{
    margin-bottom: 30px;
}
.trans-list{
    padding:10px 20px 10px 0;
    border-bottom:0.5px solid #00000047;
}
.first-line-tr{
    margin-bottom: 15px;
}
.trans-title, .trans-price{
    font-weight: 500;
    font-size: 16px;
}
.trans-price, .trans-more{
    float:right;
}
.trans-status>div{
    display: inline;
}
.trans-status>div>span::after{
    content: " | ";
}
.trans-status>div>span:first-child{
    color: green;
}
.trans-status>div>span:last-child:after{
    content: "";
}

/* Below are the styling for Invoice component */
.list-group{
    padding-left: 0;
    margin-bottom: 20px !important;
}
.list-group-unbordered>.list-group-item{
    border-left:0;
    border-right:0;
    border-radius:0;
    padding-left:0;
    padding-right:0;
    padding: .6rem .2rem;
}

.list-group-item .item-text{
    font-weight: 400;
}
.transaction-status{
    text-align: center;
}
.transaction-status>p{
    padding: .4rem 0;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
.trans-success-badge{
    background-color: #28a745;
    color: #fff !important;
    border-radius: 50% !important;
    padding: .4rem .6rem .3rem .5rem !important;
}
.trans-success-badge>i{
    font-size: 1.75rem;
    font-weight:600 ;
}
.modal-body>button{
    margin: 0 0 0 auto;
    display: block;
}