.main-content .content{
    padding: 15px !important;
    margin-top: 0 !important;
}
 .content-header{
    padding: 20px 0;
}
/* .box {
    border-top-color: #3c8dbc
} */
.box-primary{
    position: relative;
    border-radius: 3px;
    background: #ffffff; 
    border-top: 3px solid #626ed4;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box-body{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.profile-user-img{
    margin:0 auto;
    width:100px;
    padding:3px;
    border:3px solid #d2d6de
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.img-circle{
    border-radius: 50%;
    cursor: pointer;
}
.list-group{
    padding-left: 0;
    margin-bottom: 20px !important;
}
.list-group-unbordered>.list-group-item{
    border-left:0;
    border-right:0;
    border-radius:0;
    padding-left:0;
    padding-right:0
}
.list-group-item .item-text{
    font-weight: 400;
}
.item-text-value{
    float:right;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}
.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}
.text-muted{
    margin: 0 0 10px;
}
.tabs-holder{
    background: #fff;
}
.tab-container{
    padding:30px 15px;
    background: #fff;

}
.nav-tabs{
    border-bottom: 1px solid #f4f4f4 !important; 
}
.nav-tabs .nav-link{
    border: 1px solid #f4f4f4 !important;
    border-bottom: none !important;
    border-top-left-radius: 0  !important;
    border-top-right-radius: 0 !important;
    border-right: none !important;
    border-left: none !important;
}
.nav-link{
    font-weight: 500;
    
}
.nav-tabs .nav-link.active{
    border-top: 3px solid #626ed4 !important;
    border-bottom: none;
    border-right: 1px solid #f4f4f4 !important;
    border-left: 1px solid #f4f4f4 !important;
}
.date-control{
    width: 100% !important ;
    border: 1px solid #ced4da;
}

.box-body.box-profile input[type="file"] {
    position: absolute;
    padding: 9% 0%;
    top: 8%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.profile-user-img {
    width: 50%!important;
}

.close-btn{
    color: red;
    background: transparent;
    border: none;
    position: absolute;
    right: 30%;
    font-weight: 600;
}

/* .img-responsive {
    min-height: 160px!important;
} */

.del-skill{
    background: #fff;
    color: #6c757d;
    padding: 1.5px 2.5px;
    border-radius: 100%;
    font-weight: 600;
    cursor: pointer;
}
.del-skill:hover{
    background: #f11c1c;
    color: #fff;
}